html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  /* transition: height .2s; */
}


@font-face {
  font-family: cyber;
  src: url(fonts/cyberway-riders-font/CyberwayRiders-lg97d.ttf);
}



.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}



body {
  /* padding: 10px; */
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background: gainsboro;

}

.divDash {
  margin: 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.login-form > div {
  margin: 8px;
}

.login-form > div > label {
  font-weight: bold;
}

.login-form > div  > input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  background: transparent;
  border: 1px solid #aaa;
  width: 100%;
  font-size: 1em;
  margin-right: 16px;
  margin-top: 4px;
}

.login-form > div > input:focus {
  outline: 0;
}

.login-form > div > button {
  background-color: #62807e;
}


fieldset {
  border: 1px solid navy;
  background: aqua;
  padding: 1em 2em;
  border-radius: 1em;
  margin: .5em 1em;
}

legend {
  border: solid 1px navy;
  display: inline-block;
  border-radius: .4em;
  padding: 0 3px;
  margin-bottom: 0;
  background: lime;
}

/*----------------*/

.drag-n-drop {
  padding: .5rem;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: .5rem;
  align-items: start;
}

.dnd-group {
  background-color: #49505e;
  border-radius: 5px;
  padding: .5rem;
}

.dnd-group-title {
  padding-bottom: .5rem;
  color: white;
  text-align: center;
}

/* .dnd-group:not(:last-of-type) {
  margin-right: .5rem;
} */

.dnd-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  background-color: white;
  border-radius: 5px;
  color: #223;
  font-weight: bold;
  cursor: grab;
}

.dnd-item * {
  margin: 0;
}

.dnd-item:not(:last-of-type) {
  margin-bottom: .5rem;
}

.current {
  background: #223;
}

/* DASHBOARD VIDA */
.trdecada {
  vertical-align: top;
  display: flex;
}

.trdecada:hover {
  cursor: none;
}

.trdecada:nth-of-type(2n) {
  background: rgba(128, 128, 128, 0.429);
  
}

.tranys {
  display: flex;
  justify-content: space-around;
  margin-left: 2em;
}

.tdany {
  align-content: stretch;
  width: 70px;
  /* height: 50px; */
  /* position: relative; */
  line-height: 0;
  display: flex;
  flex-wrap: wrap;
}

.divdia {
  /* background: red; */
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0;
  border-radius: 50%;
  /* border: 1px solid black; */
  /* border-radius: 1.5px; */
  /* overflow: hidden; */
  
}


.divdia:hover {
  /* background: blue; */
  outline: black 2px solid;
  transform: scale(2.4) !important;
  z-index: 1000 !important;
  /* opacity: in !important; */
}

button {
  border-radius: 2em;
}



nav > * {
  display: inline-block;
  padding: 1em;
  background: darkgrey;
  top: 0;
  left: 0;
}

.form-control {
  display: block;
}

.ent_texts {
  background: #6666;
}

.ent_texts>div {
  background: #2225;
  color: white;
  border-radius: .5em;
}

.ent_texts>div:nth-of-type(2n) {
  border: 1px solid #fff7 !important;
  width: 98%;
  margin: .2em auto !important;
}

.ent_texts>div:nth-of-type(2n-1) {
  background: #fff5;
  color: black;
}